@model INCOMETAX.Models.StaffDashboardModel

@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_IncomeTaxLayout.cshtml";
}<div class="row">
     <div class="col-md-10">
         @*<div class="alert alert-info alert-with-icon" data-notify="container">
             <button type="button" aria-hidden="true" class="close">×</button>
             <span data-notify="icon" class="pe-7s-bell"></span>
             <span data-notify="message">No Ntification Found.</span>
         </div>*@
         <div class="alert alert-info">
             <span>No Notification yet</span>
         </div>
     </div>
     </div>



<script>
    //function  showNotification (){
    //    color = Math.floor((Math.random() * 4) + 1);

    //    $.notify({
    //        icon: "pe-7s-gift",
    //        message: "No Notification found !!!!"

    //    },
    //    {
    //        type: "success"[color],
    //        timer: 4000,
    //        placement: {
    //            from: "top",
    //            align: "left"
    //        }
    //    });
    //}
    demo.showNotification('top', 'center');
</script>
    