@{
    Layout = null;
 }
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/Content/Resource/css/style.css">

    <title>INCOME TAX DEPARTMENT </title>
    <style>
        body {
            background: url("../../Content/Resource/images/background.png") no-repeat center center fixed;
            -webkit-background-size: cover;
            -webkit-background-size: 100% auto;
            -moz-background-size: 100% auto;
            -o-background-size: 100% auto;
            background-size: 100% auto;
        }
    </style>

</head>

<body>
    <center>
        <br><br><br><br><Br><Br><Br><Br><br><br><br><br><Br>
        <div class="box"><a href="../Login/Login" style="text-decoration: none;"><font color="#5D5D5D">STAFF LOGIN</a></font></div><br>
        <div class="box"><a href="/Login/AdminLogin" style="text-decoration: none;"><font color="#5D5D5D">ADMIN LOGIN</a></font></div>
    </center>

</body>

</html>