@{
    Layout = null;
 }
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/Content/Resource/css/style.css">

    <title>INCOME TAX DEPARTMENT </title>
    <style>
        body {
            background: url("../../Content/Resource/images/background.png") no-repeat center center fixed;
            -webkit-background-size: cover;
            -webkit-background-size: 100% auto;
            -moz-background-size: 100% auto;
            -o-background-size: 100% auto;
            background-size: 100% auto;
        }
    </style>

</head>


<body>
    <center>
        <br><br><br><br><Br><Br><Br><Br><br><br><br><br><Br>
        <a href="../Login/SuperLogin" style="text-decoration: none; color:#5D5D5D"><div class="box">STAFF</div></a><br>
        <a href="../Login/Login" style="text-decoration: none; color:#5D5D5D"><div class="box">OFFICER LOGIN</div></a><br>
        <a href="/Login/AdminLogin" style="text-decoration: none; color:#5D5D5D"><div class="box">ADMIN LOGIN</div></a>
    </center>

</body>

</html>