
@{
    ViewBag.Title = "SuperAdminView";
    Layout = "~/Views/Shared/_IncomeTaxLayout.cshtml";
}

<div class="row">
    <div class="card">
        <div class="header">

        </div>
        <div class="content">
        </div>
    </div>
</div>
